{% extends 'base.html.twig' %}

{% block title %}E-portfolio{% endblock %}

{% block body %}

   
    <div class="progress-container">
        <h1>Voici mon portfolios:</h1>   
        <div class="progress-header">Creer des outils et application informatiques  pour les R&T</div>
        <div class="progress-bar bar-1">Connaître l’architecture et les technologies d’un site Web   ({{ 70 }}%)</div>
    </div>
    
    

    <div class="progress-container">
        <div class="progress-header">Administrer les réseaux et l’Internet</div>
        <div class="progress-bar bar-2">Maîtriser les rôles ... services fournis (DHCP, DNS, ...) ({{ 80 }}%)</div>
    </div>

    <div class="progress-container">
        <div class="progress-header">Connecter les entreprises et les usagers </div>
        <div class="progress-bar bar-3">Caractériser des systèmes de transmissions élémentaires et découvrir la modélisation mathématique de leur fonctionnement ({{ 20 }}%)</div>
    </div>

    <div class="progress-container">
        <div class="progress-header">Administrer les réseaux et l’Internet </div>
        <div class="progress-bar bar-4">Savoir identifier les dysfonctionnements du réseau local ({{ 55 }}%)</div>
    </div>
    <div class="container">

        <h3>Cliquer ici...</h3>
        <a href="{{ path('plus') }}" class="btn btn-primary">Pour en savoir plus</a>
    </div>

    <div class="container">
        <h2> Cliquer ci-dessous pour obtenir le portfolios complet en format excel:</h2>
        <form id="downloadForm" action="portfolios.xlsx" method="get">
        <button type="submit" class="btn btn-primary mt-3">Obtenir Portfolios(format excel)</button>
        
    </form>





   <style>
    body {
      background-image: url('/portfolio.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin: 0;
      width: 100vw; /* Ajoute cette ligne */
      height: 100vh; /* Ajoute cette ligne */
      }
      

    .progress-container {
        width: 80%;
        margin: 20px auto;
        border: 1px solid black;
        background-color: black;
        padding: 10px;
        opacity: 0.8;
    }

    .progress-bar {
        height: 25px;
        background-color: black;
        text-align: center;
        line-height: 25px;
        color: white;
        margin-bottom: 10px;
    }

    .progress-header {
        text-align: center;
        font-weight: bold;
        margin-bottom: 10px;
        color: gray;
    }

    .bar-1 {
        width: {{ 70 }}%;
        background-color: #4CAF50;
    }

    .bar-2 {
        width: {{ 80 }}%;
        background-color: #2196F3;
    }

    .bar-3 {
        width: {{ 20 }}%;
        background-color: #f44336;
    }
    .bar-4 {
        width: {{ 55 }}%;
        background-color: #e44336;
    }
</style>


{% endblock %}
