{% extends 'base.html.twig' %}

{% block title %}Barres de progression{% endblock %}

{% block body %}


    <div class="progress-container">
        <h1>Voici mon portfolios:</h1>   
        <div class="progress-header">RT1</div>
        <div class="progress-bar bar-1">Administrer les réseaux et l’Internet ({{ 55 }}%)</div>
    </div>

    <div class="progress-container">
        <div class="progress-header">RT2</div>
        <div class="progress-bar bar-2">Connecter les entreprises et les usagers ({{ 40 }}%)</div>
    </div>

    <div class="progress-container">
        <div class="progress-header">RT3</div>
        <div class="progress-bar bar-3">Créer des outils et applications informatiques pour les R&T ({{ 67 }}%)</div>
    </div>
    <div class="container">
        <h2> Cliquer ci-dessous pour obtenir le portfolios complet en format excel:</h2>
        <form id="downloadForm" action="portfolios.xlsx" method="get">
        <button type="submit" class="btn btn-primary mt-3">Obtenir Portfolios(format excel)</button>
    </form>





   <style>
    body {
      background-image: url('/portfolio.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin: 0;
      width: 100vw; /* Ajoute cette ligne */
      height: 100vh; /* Ajoute cette ligne */
      }
      

    .progress-container {
        width: 80%;
        margin: 20px auto;
        border: 1px solid black;
        background-color: black;
        padding: 10px;
        opacity: 0.8;
    }

    .progress-bar {
        height: 25px;
        background-color: black;
        text-align: center;
        line-height: 25px;
        color: white;
        margin-bottom: 10px;
    }

    .progress-header {
        text-align: center;
        font-weight: bold;
        margin-bottom: 10px;
        color: gray;
    }

    .bar-1 {
        width: {{ 55 }}%;
        background-color: #4CAF50;
    }

    .bar-2 {
        width: {{ 40 }}%;
        background-color: #2196F3;
    }

    .bar-3 {
        width: {{ 67 }}%;
        background-color: #f44336;
    }
</style>


{% endblock %}
