{% extends "base.html.twig" %}
{% block body %}
<footer class="bg-light py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted"><h1>Renseigner les information ci-dessous pour télécharger le CV:</h1>   </div></div>
        </footer>

<div class="container">
    
    <form id="downloadForm" action="CV.docx.pdf" method="get">
        <label for="NOM">Nom</label>
        <input type="text" name="ville" id="ville" required><br>
        <label for="Prenom">Prenom</label>
        <input type="text" name="Prenom" id="Prenom" required><br>
        <label for="mail">mail</label>
        <input type="mail" id="email" name="required"  required><br>
        <button type="submit" class="btn btn-primary mt-3">Télécharger</button>
    </form>
</div>
{% endblock %}