{% extends "base.html.twig" %}

{% block title%}Accueil{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
        <h1>BIENVENUE SUR MON SITE WEB PERSONNEL</h1>
        <p>
            Bonjour, je suis Arsene M'DAHOMA, j'ai 18 ans, j'habite à Roanne<br>
            je suis originaires de Mayotte et de la Reunion, et j'étudie à l'I.U.T de Roanne,<br>
            où je suis en apprentissage dans la formation B.U.T réseaux et télécommunication en première année.
        </p>
        <h2>Parcours</h3>
        <p>
            
            Je suis née en France à Angouleme en CHARENTE(16), mes parents sont originaires de la Réunion et de Mayotte, 
            <div class="col-md-6">
                <img src="{{ asset('mayotte.png') }}" alt="Mayotte Image" class="img-fluid resized-image">
                <img src="{{ asset('reunion.png') }}" alt="Reunion Image" class="img-fluid resized-image">
            </div>
        </p>
        </div>
        
    </div>
    <div class="container">
        <h3>Cliquer ici...</h3>
        <a href="{{ path('plus') }}" class="btn btn-primary">Pour en savoir plus</a>
    </div>
    
    <style>
        .resized-image {
            max-width: 50%; /* Définit la largeur maximale de l'image à 100% de la largeur du conteneur parent */
            height: auto; /* Garantit que l'image conserve ses proportions d'origine */
        }
    </style>
{% endblock %}