{# Fichier "templete" la racine de mon site #}
{%extends 'base.html.twig'%}

{# titre de la page#}
{% block title%}mes loisirs{% endblock %}



{# le contenu html de cette page#}
{% block body %}
<div class="sartp">
 <div class="imag-container">
  <img src="https://cdn.pixabay.com/photo/2016/11/14/05/21/children-1822688_960_720.jpg" alt="photo de football">
</div>

<div class="imag-container music">
  <img src="https://cdn.pixabay.com/photo/2020/04/15/14/45/microphone-5046876_960_720.jpg" alt="photo de music">
</div>

<div class="imag-container  mma">
  <img src="https://medias-wordpress-offload.storage.googleapis.com/lesportbusiness.com/2024/01/18184937/baki-doumbe-place-billet-accor-arena-paris-650x394.png" alt="photo de mma">
</div>

<div class="imag-container formule-1">
  <img src="https://www.turbo.fr/sites/default/files/styles/header_image/public/2020-11/Hamilton.jpg?itok=z1cFSo2i" alt="photo de FORMULE 1">
</div>

<div class="imag-container">
  <img src="https://cdn.pixabay.com/photo/2021/09/07/07/11/joysticks-6603119_960_720.jpg" alt="photo de jeux vidéo">
</div>

</div>

<style type="text/css"> 
.imag-container {
  width: 930px;
  height: 600px;
  overflow: hidden;
 
}

.imag-container img {
  width: 100%;
  height: auto;
  
}
.music , .formule-1 , .jeux-vidéo {
  float: right;

}

</style>
{% endblock %}